<mtapp:setting
    id="site_id"
    label="Site ID">
    <input type="text" name="site_id" value="<$mt:var name="site_id"$>" />
</mtapp:setting>
<mtapp:setting
    id="site_key"
    label="Site Key">
    <input type="password" name="site_key" value="<$mt:var name="site_key"$>" />
</mtapp:setting>
